body {
  background-color: rgba(169, 169, 169, 0.338);  

}

.başlık{
  background-color:#7d7976;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
h3{
  color: sienna;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}
p ,dd{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
	text-align: end;
	padding-right:20px;
  }

  
