body {
  background-color: rgba(169, 169, 169, 0.338);  

}
.menü{
  background-color: rgba(88, 88, 88, 0.426);
  padding: 10px;
}

.başlık{
  background-color:#7d7976;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
  color: sienna;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}
p{
  font-family: 'Times New Roman', Times, serif;
}
footer{
	text-align: end;
	padding-right:20px;
  }

  
